
.main-footer .imagem{
    width: 50px;
    height: 50px;
}


.main-footer{
    background:rgb(94, 31, 240) ;
    
   padding-top: 28px;
   padding-bottom: 28px;
   justify-content: center;
   display: flex;

}


.main-footer .icone{
    width: 35px;
    height: 35px;
    margin-left: 50px;
    transition: 0.3s ease-in-out;
  
    border-radius: 30px;
    

}

.main-footer a:hover{
    transform: scale(1.2)
  

}